{% extends 'emails/base.html.twig' %}

{% block subject %}Password reset{% endblock %}

{% block greeting %}
	<p class="greeting">Hello <strong>{{ current_user }}</strong>,</p>
{% endblock %}

{% block message %}
	<p>We’ve received a request to reset your password.</p>
	<p>Please click the button below to proceed:</p>
{% endblock %}

{% block cta %}
	<div class="button-wrapper">
		<a
				class="button"
				href="{{ reset_password_url }}"
				target="_blank"
				rel="noopener">Reset Password</a>
	</div>
	<p>If you did not request this, you can safely ignore this email.</p>
{% endblock %}
