{% extends 'emails/base.html.twig' %}

{% block subject %}Password Reset Confirmation - Aspire{% endblock %}

{% block greeting %}
	<p class="greeting">Hello <strong>{{ current_user }}</strong>!</p>
{% endblock %}

{% block message %}
	<p>Your password has been successfully changed.</p>
{% endblock %}
