name: Deploy tag version

on:
  push:
    tags: [ "v*" ]

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Compute Docker tags
        id: tags
        run: |
          TAGS="${{ env.IMAGE_NAME }}:${{ github.ref_name }}"
          if [[ "${{ github.ref_name }}" != *"-dev"* && "${{ github.ref_name }}" != *"-rc"* ]]; then
            TAGS="$TAGS,${{ env.IMAGE_NAME }}:latest"
          fi
          echo "tags=$TAGS" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false
          pull: true
